{:vocab  {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
          :sc/refs      [:db]
          :boot         [net.wikipunk.boot
                         net.wikipunk.ext]
          :config       {:xtdb.lucene/lucene-store
                         {:db-dir ".vocab/test/lucene"}}}
 :client {:sc/create-fn datomic.client.api/client
          :storage-dir  :mem
          :server-type  :datomic-local
          :system       "dev"}
 :db     {:sc/create-fn net.wikipunk.datomic/map->Connection
          :sc/refs      [:client]
          :db-name      "rdf-test"}}
