{:deps
 {camel-snake-kebab/camel-snake-kebab
  {:mvn/version "0.4.3"}
  clj-http/clj-http
  {:mvn/version "3.12.3"}
  cheshire/cheshire
  {:mvn/version "5.11.0"}  
  com.apicatalog/titanium-json-ld
  {:mvn/version "1.3.1"}
  com.stuartsierra/component
  {:mvn/version "1.1.0"}
  com.xtdb/xtdb-core
  {:mvn/version "1.23.2"}
  com.xtdb/xtdb-http-server
  {:mvn/version "1.23.2"}
  com.xtdb/xtdb-lucene
  {:mvn/version "1.23.2"}
  com.taoensso/nippy
  {:mvn/version "3.2.0"}
  instaparse/instaparse
  {:mvn/version "1.4.12"}
  io.github.arachne-framework/aristotle
  {:git/sha "86f3ace210318bd9820322da45e627cec9cfba48"}
  ont-app/vocabulary
  {:mvn/version "0.3.0"}
  org.apache.jena/apache-jena-libs
  {:mvn/version "4.8.0"
   :extension   "pom"}
  org.clojure/clojure
  {:mvn/version "1.12.0-alpha3"}
  org.clojure/core.async
  {:mvn/version "1.6.673"}
  org.clojure/core.memoize
  {:mvn/version "1.0.257"}
  org.clojure/data.fressian
  {:mvn/version "1.0.0"}
  org.clojure/data.int-map
  {:mvn/version "1.2.0"}
  org.clojure/data.json
  {:mvn/version "2.4.0"}
  org.clojure/data.xml
  {:mvn/version "0.2.0-alpha8"}
  org.clojure/math.combinatorics
  {:mvn/version "0.1.6"}
  org.clojure/tools.logging
  {:mvn/version "1.2.4"}
  org.clojure/tools.namespace
  {:mvn/version "1.4.4"}
  org.glassfish/jakarta.json
  {:mvn/version "2.0.1"}
  org.lwjgl/lwjgl$natives-windows
  {:mvn/version "3.3.1"}
  zprint/zprint
  {:mvn/version "1.2.4"}}
 :paths ["src/clj" "src/cljc" "classes" "resources"]
 :aliases
 {:dev
  {:extra-deps
   {com.datomic/dev-local
    {:mvn/version "1.0.243"}
    io.github.aamedina/punk.db
    {:git/sha "bbe8d261adbff93de65324e7385d742bbebcc08d"}
    com.walmartlabs/schematic
    {:mvn/version "1.3.0"}
    com.stuartsierra/component.repl
    {:mvn/version "0.2.0"}
    org.clojure/test.check
    {:mvn/version "1.1.1"}    
    org.slf4j/slf4j-simple
    {:mvn/version "1.7.36"}
    vlaaad/reveal
    {:mvn/version "1.3.277"}}
   :extra-paths ["dev"]
   :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                 "-XX:+HeapDumpOnOutOfMemoryError"
                 "-Dorg.slf4j.simpleLogger.defaultLogLevel=warn"]}}}
