{:vocab {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
         :boot         [net.wikipunk.boot/rdf
                        net.wikipunk.boot/rdfs
                        net.wikipunk.boot/rdfa
                        net.wikipunk.boot/owl
                        net.wikipunk.boot/jsonld
                        net.wikipunk.boot/jsonschema
                        net.wikipunk.boot/xsd
                        net.wikipunk.boot/skos
                        net.wikipunk.boot/dcterms
                        net.wikipunk.boot/dcam
                        net.wikipunk.boot/foaf
                        net.wikipunk.boot/doap
                        net.wikipunk.boot/schema
                        net.wikipunk.boot/vann
                        net.wikipunk.boot/vs
                        net.wikipunk.boot/prov
                        net.wikipunk.boot/as
                        net.wikipunk.boot/ldp
                        net.wikipunk.boot/rr
                        net.wikipunk.boot/mo
                        net.wikipunk.boot/time
                        net.wikipunk.boot/greg
                        net.wikipunk.boot/sioc
                        net.wikipunk.boot/cc
                        net.wikipunk.boot/sosa
                        net.wikipunk.boot/ssn
                        net.wikipunk.boot/vcard
                        net.wikipunk.boot/ma
                        net.wikipunk.boot/geo
                        net.wikipunk.boot/swrl
                        net.wikipunk.boot/dcat
                        net.wikipunk.boot/dqv
                        net.wikipunk.boot/duv
                        net.wikipunk.boot/oa
                        net.wikipunk.boot/odrl
                        net.wikipunk.boot/org
                        net.wikipunk.boot/qb
                        net.wikipunk.boot/rev
                        net.wikipunk.boot/sd
                        net.wikipunk.boot/skosxl
                        net.wikipunk.boot/voaf
                        net.wikipunk.boot/void
                        net.wikipunk.boot/adms
                        net.wikipunk.boot/exif
                        net.wikipunk.boot/acl
                        net.wikipunk.boot/bibo
                        net.wikipunk.boot/csvw
                        net.wikipunk.boot/dpvo
                        net.wikipunk.boot/dpvo-pd
                        net.wikipunk.boot/dpvo-gdpr
                        net.wikipunk.boot/dpvo-risk
                        net.wikipunk.boot/bio
                        net.wikipunk.boot/cnt
                        net.wikipunk.boot/dcmitype
                        net.wikipunk.boot/frbr
                        net.wikipunk.boot/ore
                        net.wikipunk.boot/pav
                        net.wikipunk.boot/spin
                        net.wikipunk.boot/svcs
                        net.wikipunk.boot/rdfg]}}
