{:vocab {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
         :boot         [net.wikipunk.boot/rdf
                        net.wikipunk.boot/rdfs
                        net.wikipunk.boot/rdfa
                        net.wikipunk.boot/owl
                        net.wikipunk.boot/jsonld
                        net.wikipunk.ext/jsonschema
                        net.wikipunk.boot/xsd
                        net.wikipunk.boot/skos
                        net.wikipunk.boot/dcterms
                        net.wikipunk.ext/dcam
                        net.wikipunk.boot/foaf
                        net.wikipunk.ext/doap
                        net.wikipunk.boot/schema
                        net.wikipunk.ext/vann
                        net.wikipunk.ext/vs
                        net.wikipunk.boot/prov
                        net.wikipunk.boot/as
                        net.wikipunk.boot/ldp
                        net.wikipunk.boot/rr
                        net.wikipunk.ext/mo
                        net.wikipunk.boot/time
                        net.wikipunk.ext/greg
                        net.wikipunk.boot/sioc
                        net.wikipunk.boot/cc
                        net.wikipunk.boot/sosa
                        net.wikipunk.boot/ssn
                        net.wikipunk.boot/vcard
                        net.wikipunk.boot/ma
                        net.wikipunk.ext/geo
                        net.wikipunk.ext/swrl
                        net.wikipunk.boot/dcat
                        net.wikipunk.boot/dqv
                        net.wikipunk.boot/duv
                        net.wikipunk.boot/oa
                        net.wikipunk.boot/odrl
                        net.wikipunk.boot/org
                        net.wikipunk.boot/qb
                        net.wikipunk.boot/rev
                        net.wikipunk.boot/sd
                        net.wikipunk.boot/skosxl
                        net.wikipunk.ext/voaf
                        net.wikipunk.boot/void
                        net.wikipunk.ext/adms
                        net.wikipunk.ext/exif
                        net.wikipunk.ext/acl
                        net.wikipunk.ext/bibo
                        net.wikipunk.boot/csvw
                        net.wikipunk.ext/dpvo
                        net.wikipunk.ext/dpvo-pd
                        net.wikipunk.ext/dpvo-gdpr
                        net.wikipunk.ext/dpvo-risk
                        net.wikipunk.ext/bio
                        net.wikipunk.ext/cnt
                        net.wikipunk.ext/dcmitype
                        net.wikipunk.ext/frbr
                        net.wikipunk.ext/ore
                        net.wikipunk.ext/pav
                        net.wikipunk.ext/spin
                        net.wikipunk.ext/svcs
                        net.wikipunk.ext/rdfg
                        net.wikipunk.ext/sm
                        net.wikipunk.ext/d3fend
                        net.wikipunk.ext/lcc-cr
                        net.wikipunk.ext/lcc-lr
                        net.wikipunk.ext/lcc-639-1
                        net.wikipunk.ext/lcc-639-2
                        net.wikipunk.ext/lcc-3166-1
                        net.wikipunk.ext/lcc-3166-2
                        net.wikipunk.ext/lcc-3166-2-ca
                        net.wikipunk.ext/lcc-3166-2-gb
                        net.wikipunk.ext/lcc-3166-2-mx
                        net.wikipunk.ext/lcc-3166-2-us]}}
