{:vocab {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
         :boot         [net.wikipunk.boot
                        net.wikipunk.ext]
         :config       {:xtdb.lucene/lucene-store
                        {:db-dir ".vocab/lucene"}}}}
